{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      City Points of interest : manage your favourite places </p>
    <p class="box">
      <i class="fas fa-thin fa-camera fa-10x" style="color:rgb(51, 255, 0)"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-thin fa-comment fa-10x" style="color:rgb(231, 114, 36)"></i>
    </p>
  </div>
</section>
