<form action="/dashboard/addcity" method="POST"> 
  <div class="field">
    <label class="label">City's Point of Interests</label> <input class="input" type="text" placeholder="Enter City name" name="name">
  </div>
  <button class="button is-link">Add City</button>
</form>
