
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Visit Duration</th>
    </tr>
  </thead>
  <tbody>
    {{#each city.poes}}
    
  </div>
      <tr>
        <td>
          {{name}}
        </td>
        <td>
          {{address}}
        </td>
        <td>
          {{Vduration}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
